services:
  app:
    container_name: core-back
    image: node:20
    user: root
    working_dir: /usr/src/app
    entrypoint: sh -c
    depends_on:
      - database
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    command: '"npm install -g @nestjs/cli && npm install && npm run start:dev"'

  database:
    image: mariadb:11.3.2
    container_name: core-back-db
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-!ChangeMe!}
      MYSQL_USER: ${MYSQL_USER:-app}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-ChangeMe}
    volumes:
      - db_data:/var/lib/mysql:rw
    ports:
      - "3306:3306"

volumes:
  db_data: