version: '3.8'
services:
  app:
    container_name: core-back
    build:
      context: .
    user: "1000:1000"
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app

  database:
    image: mariadb:10.6.15
    container_name: core-back-db
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-!ChangeMe!}
      MYSQL_USER: ${MYSQL_USER:-app}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-ChangeMe}
    volumes:
      - db_data:/var/lib/mysql:rw
    ports:
      - "3306:3306"

volumes:
  db_data: