<!-- Button partial -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
  <tr>
    <td style="border-radius: 5px; background-color: #1a82e2; padding: 10px 20px;">
      <a href="{{link}}" target="_blank" style="font-size: 16px; font-family: Arial, sans-serif; color: white; text-decoration: none; border-radius: 5px; padding: 8px 12px; border: 1px solid #1a82e2; display: inline-block;">
        {{text}}
      </a>
    </td>
  </tr>
</table>
