
<h1>Password Reset Request</h1>
<p>We received a request to reset the password for your account. If you did not make this request, please ignore this email.</p>
<p>To reset your password, please click the button below:</p>

<!-- Using a button partial for the reset link -->
{{> button link=link text="Reset Your Password"}}

<p>If you're having trouble with the button above, you can also copy and paste the following link into your browser:</p>
<p>{{link}}</p>
